.tile {
    display:grid;
    place-content:center;
    width: 64px;
    height: 64px;
}

.black-tile {
    background-color: #FDB254;
}

.white-tile {
    background-color: white;
}

img {
width : 64px;
}

.chess-piece {
width: 64px;
height: 64px;
}


