.navbar {
    display: flex;
    width: 100%;
    min-width: 720px;
    justify-content: flex-start;
    height: 100px;
    align-items: center;
    background: rgb(75,60,60);
    background: linear-gradient(90deg, rgba(75,60,60,1) 0%, rgba(91,91,116,1) 33%, rgba(64,64,64,1) 100%);

  }
  
  .links {
    flex: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 50px; 
  }
  
  .links a {
    color: #C6AA6B;
    text-decoration: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 0 0 1px white;
  }
  
  .links a:hover {
    filter: drop-shadow(0 0 0.3rem white);
  }
  
  .logo {
    width: 70px;
  }
  
  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .navbar {
      height: 90px;
    }
  
    .links {
      padding: 0 30px;
    }
  
    .logo {
      width: 60px;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      height: 80px;
    }
  
    .links {
      padding: 0 20px;
    }
  
    .logo {
      width: 50px;
    }
  }
  