.logo {
    height: 60px;
    width: 60px;
}
.toolbar {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #1b2331;
    color: #fec100;
    border-bottom-style: outset;
    border-width: 1px;
    border-color: #A4A4A4;
}

.main {
    display: contents;
}
