.logo {
    height: 50px;
    width: 64px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    height: 90px;
    border-bottom-style: outset;
    border-width: 1px;
    padding-left: 100px;
}