.player {
  display: "flex";
  justify-content:space-around ;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 90px;
  margin-bottom: 50px;
  max-width: 720px;
  }
  
  /* .chessboard { 
   
} */